* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Tilt Neon', cursive;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 4%, rgba(203,188,79,1) 51%, rgba(253,187,45,1) 65%);
    background-repeat: no-repeat;
}
.question {
    text-align: center;
}
.question-div {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.buttons > button {
    width: 100px;
    height: 48px;
    border: none;
    font-family: 'Tilt Neon', cursive;
    color: white;
    background: #547e7e;
    border-radius: 10px;
}
.buttons > button:hover {
    cursor: pointer;
}
.no:hover {
    background: url(/Super_Angry_Face_Emoji_ios10_large.webp);
    background-size: 50% auto;
    transition: 0.3s;
}
.yes:hover {
    background: url(/Heart-Emojis-Download-PNG-Image.png);
    background-size: 50% auto;
    transition: 0.3s;
}
.alert-gif {
    width: 80%;
    display: none;
}
.gif{
    position: absolute;
    transform: translate(0%, -40%);
    z-index: 1;
    max-width: 100%;
}